
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 4 columnas de igual ancho */
  gap: 16px; /* Espacio entre las celdas */
  max-width: 1100px; /* Establece el ancho máximo */
  margin: 0 auto; /* Centra el contenedor */
}